html, body{
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}


@font-face {
    font-family: Circular Std;
    src: url("./css/fonts/CircularStd-Book.otf");
}

.main{
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

@media screen and (max-width: 700px) {
    .div-header, .div-quem_somos, .div-oque-fazemos, .div-oque-e-ansiedade {
        float: none;
        width: 100%;
        margin-right: 0;
    }
}

/* Banner */

.div-header{
    background-color: #3366ff;
    font-family: 'Dancing Script', cursive;
}

.logoAechinia{
    margin-bottom: 60px; 
    margin-top: 40px;
    height: 87px; 
    width: 88px;
}

.text-header{
    font-family: 'Dancing Script', cursive;
    color: #ff9999;
    font-weight: normal;
    font-size: 48px;
    line-height: 50px;
    margin-top: 40px;
}

#quemsomos{
    margin-top: 0px;
}

/* Quem Somos */

.div-quem_somos{
    background-color: #e1f5f5;
    font-family: 'Varela Round', sans-serif;
}



.Icons-Quem{
    width: 55px;
    margin-top: 7px;
} 

.features-text{
    margin-bottom: 50px;
}

/* Como Funciona */

.div-oque-fazemos{
    background-color: #3366ff;
    font-family: 'Varela Round', sans-serif;
}

.logo{
    width: 55px;
    margin-top: 7px;
     
}

.logo-test{
    width: 45px;
    margin-top: 7px;
    float: right;
}

.logo-right{
    width: 45px;
    margin-top: 7px;
    float: left;
}

.Telas{
    max-width: 300px;
    max-height: 646px;
    margin-bottom: 100px;
}

.title-icons{
    font-size: 20px;
    margin-bottom: 0px;
    margin-left: auto;
    
}

.div-text-como{
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
}

.div-text-direita{
    margin-top: 7px;
    margin-left: auto;
    margin-right: 100px;
}

.text-direita{
    margin-left: 55px;
}

.text-esq{
    margin-right: 55px;
}



.text-icons, .title-icons{
    font-weight: bold;
    color: black;
    
}
.text-icons{
    font-size: 15px;
    margin-bottom: 40px;
    text-align: justify;
    float: right;
    
}

/* O que é Ansiedade */

.logoA{
    width: 45px;
    margin-top: 11px;
    margin-left: 6px;
}

#text-anxiety{
    text-align: justify;
    margin-right: 25px;
}

/* Contato */

.contact-text{
    font-size: 26px;
    color: black;
    margin-top: 65px;
    text-align: center;
}

a.sm:hover, a.sm:link{
    color: white;
    text-decoration: none; 
    display:inline-block;
    padding: 6px 35px;
    background-color: #0f8afd;
    border-radius: 16px;
    border-width: 0px;
    box-shadow: -2px 2px 15px -4px #000000;
    font-family: 'Varela Round', sans-serif;
    margin-top: 30px;
    margin-bottom: 120px;
}

.div-contact{
    border-radius: 8px;
    border-width: 1mm;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
}

.text-contact-2{

    font-size: 15px;
    font-weight: bold;
    font-family: 'Varela Round', sans-serif;
    
    color: black;
    background-color: #3366ff;
}

.icons{
    max-width: 25px;
    max-height: 25px;
    margin-bottom: 0px;
    
}

.form-control{
    background-color: #3366ff;
    border-width: 0px;
    margin-bottom: 27px;
    border-radius: 15px;
    
}

.btn-light{
    margin-top: 86px;
    margin-bottom: 16px;
    background-color: #0043FF;
    color: rgb(0, 0, 0);
    border-width: 0.5mm ;
    border-color: #0043D4;
}

.btn-light:hover{
    background-color: #0043D4;
    border-width: 0.5mm;
    border-color: #0043D4;
}

.form-contato{
    background-color: #4D79FF;
    border-width: 1px;
    border-color: #1C55FF;
}

.FORM:focus{
    background-color: #6F9EFF;
    border-width: 1px;
    border-color: #123AB3;
}

#inputs{
    width:500px;
}

.btn-light{
    margin-top: 86px;
    margin-bottom: 16px;
    background-color: #0043FF;
    color: rgb(0, 0, 0);
    border-width: 0.5mm ;
    border-color: #0043D4;
}
.btn-light:hover{
    background-color: #0043D4;
    border-width: 0.5mm;
    border-color: #0043D4;
}

/* Textos */

.content-text-quem{
    font-size: 20px;
    font-weight: lighter;
    font-family: 'Varela Round', sans-serif;
    color: black;
    margin-bottom: 45px;
}

.title-text-quem{
    font-size: 43px;
    font-weight: lighter;
    color: black;
    margin-top: 65px;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
}


/* Footer */

.div-oque-e-ansiedade, footer{
    background-color: #e1f5f5;
}









/* deixa quais dos dois */



/*


.text-iconsA{
    font-size: 15px;
    margin-bottom: 40px;
    margin-left: 90px;
}

.easter{
    color: #e1f5f5;
    margin-top: 250px;
    margin-bottom: 250px;
}

#btnTop{
    position: fixed;
    bottom: 20px;
    right: 2000px;
    
    height: 40px;
    width: 40px;
    color: #000000;
    border: none;
    border-radius: 50vh;
    }


.h5{
    font-size: 1005px;
    color: black;
    font-family: 'Varela Round', sans-serif;
}


*/












